.content{
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    border-radius: 1rem;
}

.content h1 {
    margin: 0;
}

.pokemons{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemons a {
    text-decoration: none;
}

.pokemon {
    margin: .5rem;
    padding: 0 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    color: #FFF;

    display: flex;
    flex-direction: column;
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65987;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .5rem 0;
    font-size: .75rem;
    border-radius: 1rem;
    filter:brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    width: 50%;
}

.paggination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.paggination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#loadMore:hover{
    filter: brightness(0.9);
    transition: filter .2s ;
}

button[disabled=disabled], button:disabled {
    background-color: rgba(108, 121, 219, .4);
    cursor: not-allowed;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: repeat(2, 1fr);  
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .pokemons {
        grid-template-columns: repeat(4, 1fr);  
    }
}
